@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary-color: #2e8b57; /* Cor verde principal */
    --secondary-color: #ffffff; /* Cor branca */
    --accent-color: #ffcc00; /* Cor de destaque (amarelo claro) */
    --bg-color: #f0f4f3; /* Fundo suave */
    --font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 400;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

main {
    padding: 2rem;
    padding-bottom: 8rem; /* Adicionado para evitar sobreposição com o footer */
}

.intro {
    text-align: center;
    margin-bottom: 3rem;
}

.intro h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.intro p {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.graficos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem; /* Margem inferior para o container de gráficos */
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem 0;
    position: relative; /* Alterado para manter o footer no fluxo do documento */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
